<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p> -->

<!-- <section id="home" data-type="background" data-speed="10">                           
  <article><%= image_tag "jerry.png" %>I am absolute positioned</article>
</section> 

<section id="home" data-type="background" data-speed="10">                           
  <article><%= image_tag "nepalaone.jpeg" %>I am absolute positioned</article>
</section> 

<section id="home" data-type="background" data-speed="10">                           
  <article><%= image_tag "grocery.jpeg" %>I am absolute positioned</article>
</section> 

<section id="home" data-type="background" data-speed="10">                           
  <article><%= image_tag "rabbit.jpeg" %>I am absolute positioned</article>
</section>    -->


<div id="prlx_lyr_1"></div>
<div id="prlx_lyr_2"></div>
<!-- <div id="img"></div> -->
<div id="content_layer"><p>hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
hi i am hkjagjdg jjgdjfgajgd<br><br><br>
gasjhgdfjkgajdhgsahgjhsagjhgasjdg<br><br><br>
</p></div>