<div style="position: relative; left: 0; top: 0;">
  <img src="assets/r.png" style="position: relative; top: 200px; left: 400px;"/>
  <img src="assets/whitefram.png" style="position: absolute; top: 30px; left: 70px;"/>
</div>