<!DOCTYPE html>
<html>
<head>
  <title>Paralox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    function parallax(){
      var prlx_lyr_1 = document.getElementById('prlx_lyr_1');
      var prlx_lyr_2 = document.getElementById('prlx_lyr_2');
      prlx_lyr_1.style.top = (window.pageYOffset / 4) + 'px';
      prlx_lyr_2.style.top = -(window.pageYOffset / 10) + 'px';
    }

    window.addEventListener("scroll", parallax, false);
  </script>
</head>
<body>

<%= yield %>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="js/skrollr.js"></script>
<script src="js/_main.js"></script>
</body>
</html>
